<section id="donate">
  <h2>Please support us!</h2>
  <p>You contribution helps us keep this platform running</p>
  <div class="btn-group">
    <a href="#" class="btn btn-default btn-lg">{{vm.amount}} €</a>
    <a href class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href ng-click="vm.setAmount(5)">5 €</a></li>
      <li><a href ng-click="vm.setAmount(10)">10 €</a></li>
      <li><a href ng-click="vm.setAmount(20)">20 €</a></li>
    </ul>
  </div>
  <div class="row">

    <div class="col-sm-6">
      <label for="paypal" class="payment-method">
        <input id="paypal" type="radio" name="type" value="paypal" checked="checked">
        <img src="images/paypal.png" alt="Pay with paypal.com">
      </label>
    </div>

    <div class="col-sm-6">
      <label for="bitcoin" class="payment-method">
        <input id="bitcoin" type="radio" name="type" value="bitcoint" checked="checked">
        <img src="images/bitcoin.png" alt="Pay with bitcoins">
      </label>
    </div>

  </div>
  <button class="btn btn-primary btn-block  btn-large" ng-click="vm.donate(vm.amount)">Donate</button>
</section>
