<section id="content-page" class="container">

  <div class="row text-align center">

    <div id="personal-information" class="col-sm-10 col-sm-offset-1">

      <form id="settingsform" name="settingsform">

        <div class="form-group">
          <label for="sourcetelephone">Insert your Number</label>
        </div>
        <div class="form-group row source-phone-input">
          <div class="col-xs-12" ng-class="{'has-error':settingsform.sourcetelephone.$invalid && settingsform.sourcetelephone.$dirty}">
            <input type="text" class="form-control input-lg" name="sourcetelephone" international-phone-number id="sourcetelephone" ng-model="vm.phone" default-country="es" required>
          </div>
        </div>


        <div class="form-group">
          <label for="target-type">Target message type</label>
          <select id="target-type" class="form-control input-lg" ng-model="vm.type" ng-disabled="vm.route">
            <option value="phone">Phone</option>
            <option value="email">E-mail</option>
          </select>
        </div>

        <div class="form-group" ng-show="vm.type === 'email'" ng-class="{'has-error': settingsform.targetemail.$invalid && settingsform.targetemail.$dirty}">
          <label for="target-email">Email</label>
          <input type="email" class="form-control input-lg" id="target-email" name="targetemail" placeholder="email@domain.com" ng-model="vm.targetEmail" email required ng-disabled="vm.route">
        </div>



        <div class="form-group" ng-show="vm.type === 'phone'">
          <label for="telephone">Target Number</label>
        </div>
        <div class="form-group row target-phone-input" ng-show="vm.type === 'phone'">
          <div class="col-xs-12" ng-class="{'has-error':settingsform.targettelephone.$invalid && settingsform.targettelephone.$dirty}">
            <input type="text" class="form-control input-lg" international-phone-number name="targettelephone" id="targettelephone" ng-model="vm.targetPhone" default-country="es" required>
          </div>
        </div>



        <div class="form-group" ng-class="{'has-error': settingsform.password.$invalid && settingsform.password.$dirty}">
          <label for="password">Phone password</label>
          <input type="password" class="form-control input-lg" id="password" name="password" placeholder="Phone password" ng-model="vm.password" required>
        </div>

        <button type="submit" class="btn btn-primary btn-block input-lg" ng-hide="vm.route" ng-click="vm.addRoute()">Save</button>
        <button type="submit" class="btn btn-danger btn-block input-lg" ng-show="vm.route" ng-click="vm.deleteRoute(vm.phone, vm.password)">Delete | Change</button>

      </form>

    </div>

  </div>
</section>
