<form id="msg-form" name="msgform">

  <legend>Send a message</legend>
  <label for="telephone" class="control-label pull-left">Insert the Number</label>

  <div class="form-group row">

    <div class="col-xs-2">
      <input type="text" name="code" class="form-control" id="code" placeholder="34" ng-model="vm.code" ng-pattern="/^[0-9]{2}$/" maxlength="2" size="2" required>
    </div>

    <div class="col-xs-10">
      <input type="text" name="telephone" class="form-control" id="telephone" placeholder="654789123" ng-model="vm.telephone" ng-pattern="/^[0-9]{9,10}$/" required>
    </div>

    <div class="send-message" role="alert" ng-show="msgform.$submitted && msgform.code.$error.pattern && msgform.code.$dirty" ng-show="msgform.telephone.$error.pattern">The international code must be a number with 2 digits</div>
    <div class="send-message" role="alert" ng-show="msgform.$submitted && msgform.telephone.$error.pattern && msgform.telephone.$dirty" ng-show="msgform.telephone.$error.pattern">The telephone number be a number with 9 or 10 digits</div>

  </div>

  <div class="form-group">

    <label for="textArea" class="control-label pull-left">Type your message: ({{140-vm.message.length || 0}})</label>
    <div name="message" required>
      <textarea class="form-control" ng-model="vm.message" maxlength="140" rows="3" id="message"></textarea>
    </div>

    <div class="send-message" role="alert" ng-show="msgform.$submitted || msgform.message.$dirty">
      <div ng-show="msgform.message.$error.required">Message Body is required</div>
    </div>

  </div>

  <div class="form-group">
    <div>
      <button type="submit" class="btn btn-block btn-success" ng-click="vm.send(vm.code + vm.telephone, vm.message)">Send it!</button>
    </div>
  </div>

</form>
