<form id="msg-form" name="msgform">

  <label for="telephone">Insert a number</label>

  <div class="form-group row">

    <div class="col-xs-12" ng-class="{'has-error':msgform.phone.$invalid && msgform.phone.$dirty}">
      <input type="text" class="form-control input-lg" name="phone" international-phone-number name="telephone"  id="telephone" ng-model="vm.telephone" default-country="es" required>
    </div>

  </div>

  <div class="form-group"  ng-class="{'has-error':msgform.message.$invalid && msgform.message.$dirty}">

    <label for="textArea" class="control-label pull-left">Type your message</label>
    <div name="message">
      <textarea name="message" class="form-control input-lg" maxlength="140" ng-model="vm.message" rows="3" id="message" required></textarea>
    </div>
    <div class="pull-right">
    Remaining characters: {{140-vm.message.length || 0}}
    </div>
  </div>

  <div class="form-group">
    <div>
      <button type="submit" class="btn btn-block btn-success input-lg" ng-click="vm.send(vm.telephone, vm.message)">Send it!</button>
    </div>
  </div>

</form>
